.root {
    -fx-background-color: black;
}

.anchor-pane {
    -fx-background-color: -fx-control-inner-background, linear-gradient(to right, #2e2e2e, #353535, #3c3c3c, #434343, #4a4a4a);
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0 2px 0 0; /* width of divider*/
}

#text-field {
    -fx-text-fill: derive(lightgrey, 0%);
    -fx-background-color: derive(darkgrey, -40%);
}

.v-box {
    -fx-background-color: linear-gradient(to right, #2e2e2e, #353535, #3c3c3c, #434343, #4a4a4a);
}

.button {
    -fx-text-fill: white;
    -fx-background-color: transparent; /*#282828 /*radial-gradient(radius 360%, white, derive(white, -10%), derive(white, 10%));*/
    /*-fx-background-insets: 0, 1 1 1 1;*/
    -fx-font-weight: bold;

    -fx-border-radius: 0;
    -fx-background-radius: 0;

    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
    -fx-padding: 15 30 15 30;
}

.button:hover {
    -fx-font-size: 13;
    -fx-background-color: derive(darkgrey, 10%), radial-gradient(radius 360%, derive(darkgrey, 5%), derive(lightgrey, -10%), derive(lightgrey, 10%));
    -fx-text-fill: derive(darkgrey, -40%);
}

.button:pressed {
    -fx-background-color: darkgrey, radial-gradient(radius 360%, lightgrey, derive(white, -10%), derive(white, 10%));
    -fx-text-fill: derive(darkgrey, -30%);
}

/*when button is activated*/
.button:focused {
    -fx-font-size: 13;
}

.label {
    -fx-text-fill: derive(white, 0%);
}

.table-view,
.table-view .corner{
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}


/* header under column buttons*/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right, #b1b1b1, #b9b9b9, #c1c1c1, #c9c9c9, #d1d1d1);
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2px 0 6px 0;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:odd {
    -fx-background-color: #88888811;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/* remove arrows*/
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button{
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #b1b1b1, #b9b9b9, #c1c1c1, #c9c9c9, #d1d1d1)
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #b1b1b1, #b9b9b9, #c1c1c1, #c9c9c9, #d1d1d1)
}

.slider .track {
    -fx-background-color: white;
    -fx-background-radius: 1;
}

.slider .thumb {
    -fx-background-color: lightgrey;
    -fx-background-radius: 1;
    -fx-pref-width: 11px;
}

.slider .axis {
    -fx-tick-label-fill: white;
}